@media screen and (max-width: 700px) {
    :has(input:focus) .navigation,
    :has(input:focus) .waves, 
    :has(input:focus) .footer {
        display: none !important;
    }
    :has(input:focus) .main,
    :has(input:focus) .page {
        justify-content: flex-end;
        padding-bottom: 2%;
    }
}