@import 'theme.module';
@import 'keyboard.module';

.center {
  display: flex;
  justify-content: center;
}

.navigation {
  position: fixed;
  bottom: 0;
  height: 12vh;
  width: 100%;
  max-width: 40rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.defaultColor {
  fill: $chat-background !important;
  transition: all .4s ease-in-out 0.4s;
}

.selectedColor {
  fill: $main !important;
  transition: all .4s ease-in-out 0.4s;
  opacity: 0.6;
}